body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
}

.clickable {
  cursor: crosshair;
}
.navbar{
  margin-bottom:30px;
  border: 1px solid red;
  border-radius: 20px;
}
.nav-item{
  cursor: crosshair;
}
.container{
  height: 100%;
   max-width: 100% !important;
   display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  text-align: center !important;
}
.col-3{
  margin:5rem !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  /* align-self: center !important; */
  text-align: center;
}
.pagination{
  display: flex !important;
  flex-direction: row !important;
   justify-content: center !important;
   /* align-self: center !important; */
   text-align: center;
}
.col{
  text-align: center;
}
.d-flex {
  display: flex !important;
  height: 60vh;
}
.center {
  margin: 0 auto;
  align-self: center;

}


